
<mat-toolbar color="primary">
  <span>To-Do List Application</span>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let item of todoListEach">
    <div class=" flex items-center px-6">
      <span [ngClass]="{'line-through': item.iscompleted}" class="text-2xl font-semibold flex-1">{{item.title}}</span>
      <!-- <span [ngClass]="{'line-through': item.iscompleted}" class="ml-5 flex-[4]">{{item.description}}</span> -->

      <div [ngClass]="{'line-through': item.iscompleted}" class="ml-5 flex-[4]">
        <input type="text" [value]="item.description" (blur)="updateDesc(item,$event)"/>
        <!-- <button mat-icon-button  >
          <mat-icon class="text-green-600 fill-green-600">checked</mat-icon>
        </button> -->
      </div>
      <span class="text-gray-400">{{item.create_at| date :'short'}}</span>
      <button mat-icon-button (click)="removeItembyId(item)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-checkbox [checked]="item.iscompleted" (change)="updateCompleted(item,$event.checked)"></mat-checkbox>
    </div>
  </mat-list-item>
</mat-list>
<div class="flex items-end w-full justify-between fixed py-8 bottom-0  px-8  shadow-inner">
  <form [formGroup]="formGroup" class="w-full">
    <div class="flex flex-col w-full pr-8">
      <mat-form-field appearance="outline">
        <input matInput placeholder="title" id="title" [formControl]="titleControl"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput placeholder="description" class="w-full" id="description" [formControl]="descriptionControl"/>
      </mat-form-field>
    </div>
  </form>

  <button color="accent" mat-mini-fab (click)="addItemToList()">
    <mat-icon>add</mat-icon>
  </button>
</div>
